/* line 2, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/main.scss */
body {
  background: #000;
}

@-moz-keyframes loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: .5;
  }
  50% {
    transform: scale(1.75);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: .5;
  }
  50% {
    transform: scale(1.75);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: .5;
  }
  50% {
    transform: scale(1.75);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/* line 36, ../sass/main.scss */
.in-blo {
  width: 150px;
  height: 25px;
  margin: 80px auto;
}
/* line 40, ../sass/main.scss */
.in-blo .blo {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #2187e7;
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  border-image: webkit-linear-gradient(top, #2187e7 25%, #5aacf9);
  -moz-animation: blo 1s linear infinite;
  -webkit-animation: blo 1s linear infinite;
  animation: blo 1s linear infinite;
}
/* line 53, ../sass/main.scss */
.in-blo #blo-1, .in-blo #blo-5 {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
/* line 56, ../sass/main.scss */
.in-blo #blo-2, .in-blo #blo-4 {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 59, ../sass/main.scss */
.in-blo #blo-3 {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 63, ../sass/main.scss */
.in-blo ul.progress {
  list-style: none;
  width: 200px;
  margin: 50px auto;
  padding: 20px;
}
/* line 68, ../sass/main.scss */
.in-blo ul.progress li {
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: transparent;
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}
/* line 78, ../sass/main.scss */
.in-blo ul.progress li .ball {
  width: 15px;
  height: 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #2187e7;
  background-image: -webkit-linear-gradient(#2187e7 25%, #5aacf9);
  background-image: -o-linear-gradient(#2187e7 25%, #5aacf9);
  background-image: linear-gradient(#2187e7 25%, #5aacf9);
  transform: scale(0);
  -moz-animation: loading 0.5s linear forwards;
  -webkit-animation: loading 0.5s linear forwards;
  animation: loading 0.5s linear forwards;
}
/* line 89, ../sass/main.scss */
.in-blo ul.progress li .pulse {
  width: 15px;
  height: 15px;
  position: relative;
  top: -16px;
  left: -1px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #00c6ff;
  box-shadow: 0 0 5px #00c6ff;
  transform: scale(0);
  -moz-animation: pulse 0.5s ease-out;
  -webkit-animation: pulse 0.5s ease-out;
  animation: pulse 0.5s ease-out;
}
/* line 101, ../sass/main.scss */
.in-blo ul.progress li #layer1 {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/* line 104, ../sass/main.scss */
.in-blo ul.progress li #layer2 {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 107, ../sass/main.scss */
.in-blo ul.progress li #layer3 {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/* line 110, ../sass/main.scss */
.in-blo ul.progress li #layer4 {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 113, ../sass/main.scss */
.in-blo ul.progress li #layer5 {
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
/* line 116, ../sass/main.scss */
.in-blo ul.progress li #layer6 {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 119, ../sass/main.scss */
.in-blo ul.progress li #layer7 {
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/* line 122, ../sass/main.scss */
.in-blo ul.progress li #layer8 {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
/* line 125, ../sass/main.scss */
.in-blo ul.progress li #layer9 {
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
/* line 128, ../sass/main.scss */
.in-blo ul.progress li #layer10 {
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-moz-keyframes run1 {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes run1 {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes run1 {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@-moz-keyframes run2 {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes run2 {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
@keyframes run2 {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
/* line 144, ../sass/main.scss */
.bar-cil {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  box-shadow: 0 0 50px #2187e7;
  -moz-animation: run1 0.9s linear infinite;
  -webkit-animation: run1 0.9s linear infinite;
  animation: run1 0.9s linear infinite;
}

/* line 156, ../sass/main.scss */
.bars-cil {
  width: 80px;
  height: 80px;
  position: relative;
  top: -120px;
  margin: 0 auto;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-bottom: 9px solid transparent;
  border-right: 9px solid transparent;
  box-shadow: 0 0 30px #2187e7;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-animation: run2 0.9s linear infinite;
  -webkit-animation: run2 0.9s linear infinite;
  animation: run2 0.9s linear infinite;
}

@-moz-keyframes bar-cir {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(145deg);
  }
  100% {
    transform: rotate(-300deg);
  }
}
@-webkit-keyframes bar-cir {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(145deg);
  }
  100% {
    transform: rotate(-300deg);
  }
}
@keyframes bar-cir {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(145deg);
  }
  100% {
    transform: rotate(-300deg);
  }
}
/* line 176, ../sass/main.scss */
.bar-circle {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  box-shadow: 0 0 50px #2187e7;
  -moz-animation: bar-cir 0.9s linear infinite;
  -webkit-animation: bar-cir 0.9s linear infinite;
  animation: bar-cir 0.9s linear infinite;
}

/* line 188, ../sass/main.scss */
.bars-circle {
  width: 80px;
  height: 80px;
  position: relative;
  top: -120px;
  margin: 0 auto;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  box-shadow: 0 0 30px #2187e7;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-animation: run2 0.9s linear infinite;
  -webkit-animation: run2 0.9s linear infinite;
  animation: run2 0.9s linear infinite;
}

@-moz-keyframes blo {
  0% {
    opacity: 1;
    transform: scale(4);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blo {
  0% {
    opacity: 1;
    transform: scale(4);
  }
  100% {
    opacity: 0;
  }
}
@keyframes blo {
  0% {
    opacity: 1;
    transform: scale(4);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
/* line 218, ../sass/main.scss */
.bar {
  width: 40%;
  height: 20px;
  margin: 4% auto;
  position: relative;
  padding: 10px;
  background: #333;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
/* line 226, ../sass/main.scss */
.bar span {
  position: relative;
  display: block;
  background-color: #2bc253;
  background-image: -webkit-linear-gradient(top, #2bc253 37%, #54f054 69%);
  width: 50%;
  height: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 241, ../sass/main.scss */
.bar span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  overflow: hidden;
  -webkit-background-size: 50px;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
}

@-moz-keyframes face {
  0% {
    transform: scale(0.6);
    background-color: #bac5db;
  }
  40% {
    transform: scale(1);
    background-color: #c6ccda;
  }
  100% {
    transform: scale(0.5);
  }
}
@-webkit-keyframes face {
  0% {
    transform: scale(0.6);
    background-color: #bac5db;
  }
  40% {
    transform: scale(1);
    background-color: #c6ccda;
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes face {
  0% {
    transform: scale(0.6);
    background-color: #bac5db;
  }
  40% {
    transform: scale(1);
    background-color: #c6ccda;
  }
  100% {
    transform: scale(0.5);
  }
}
/* line 277, ../sass/main.scss */
.face {
  width: 200px;
  height: 100px;
  margin: 80px auto;
}
/* line 281, ../sass/main.scss */
.face .facebo {
  display: inline-block;
  width: 20px;
  height: 50px;
  background: #99aaca;
  border: 1px solid #96a6c9;
  transform: scale(0.5);
  -moz-animation: face 1s infinite;
  -webkit-animation: face 1s infinite;
  animation: face 1s infinite;
}
/* line 290, ../sass/main.scss */
.face #facebo1 {
  -moz-animation-delay: 0.05s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
/* line 293, ../sass/main.scss */
.face #facebo2 {
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
/* line 296, ../sass/main.scss */
.face #facebo3 {
  -moz-animation-delay: 0.15s;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
/* line 299, ../sass/main.scss */
.face #facebo4 {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
/* line 302, ../sass/main.scss */
.face #facebo5 {
  -moz-animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-moz-keyframes go {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes go {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes go {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* line 312, ../sass/main.scss */
.login-l {
  width: 100%;
  height: 5px;
  margin: 90px 0;
  background: #333;
}

/* line 319, ../sass/main.scss */
.login-l::after {
  width: 10px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  content: "";
  height: 5px;
  background: #2187e7;
  box-shadow: 0 0 5px 2px rgba(0, 198, 255, 0.7);
  -moz-animation: go 2s ease-out infinite;
  -webkit-animation: go 2s ease-out infinite;
  animation: go 2s ease-out infinite;
}

@-moz-keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
@keyframes wei {
  0% {
    background: #2187e7;
  }
  100% {
    background: transparent;
  }
}
/* line 337, ../sass/main.scss */
.wei {
  width: 200px;
  height: 250px;
  margin: 50px auto;
}
/* line 341, ../sass/main.scss */
.wei .wei-in {
  display: inline-block;
  width: 20px;
  height: 60px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-animation: wei 0.8s linear infinite;
  -webkit-animation: wei 0.8s linear infinite;
  animation: wei 0.8s linear infinite;
}
/* line 349, ../sass/main.scss */
.wei #wei-in1 {
  position: relative;
  left: 110px;
  top: 20px;
  -moz-animation-delay: 0.36s;
  -webkit-animation-delay: 0.36s;
  animation-delay: 0.36s;
}
/* line 355, ../sass/main.scss */
.wei #wei-in2 {
  transform: rotate(45deg);
  position: relative;
  left: 121px;
  top: 36px;
  -moz-animation-delay: 0.48s;
  -webkit-animation-delay: 0.48s;
  animation-delay: 0.48s;
}
/* line 362, ../sass/main.scss */
.wei #wei-in3 {
  transform: rotate(90deg);
  position: relative;
  left: 109px;
  top: 75px;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
/* line 369, ../sass/main.scss */
.wei #wei-in4 {
  transform: rotate(135deg);
  position: relative;
  left: 65px;
  top: 114px;
  -moz-animation-delay: 0.72s;
  -webkit-animation-delay: 0.72s;
  animation-delay: 0.72s;
}
/* line 376, ../sass/main.scss */
.wei #wei-in5 {
  transform: rotate(180deg);
  position: relative;
  left: -2px;
  top: 130px;
  -moz-animation-delay: 0.84s;
  -webkit-animation-delay: 0.84s;
  animation-delay: 0.84s;
}
/* line 383, ../sass/main.scss */
.wei #wei-in6 {
  transform: rotate(225deg);
  position: relative;
  left: -68px;
  top: 114px;
  -moz-animation-delay: 0.96s;
  -webkit-animation-delay: 0.96s;
  animation-delay: 0.96s;
}
/* line 390, ../sass/main.scss */
.wei #wei-in7 {
  transform: rotate(270deg);
  position: relative;
  left: -112px;
  top: 75px;
  -moz-animation-delay: 1.08s;
  -webkit-animation-delay: 1.08s;
  animation-delay: 1.08s;
}
/* line 397, ../sass/main.scss */
.wei #wei-in8 {
  transform: rotate(315deg);
  position: relative;
  left: 71px;
  top: -27px;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-moz-keyframes wave_left {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
@-webkit-keyframes wave_left {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
@keyframes wave_left {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
/* line 410, ../sass/main.scss */
.load {
  position: relative;
  width: 181px;
  height: 181px;
  margin: 100px auto;
  overflow: hidden;
}
/* line 416, ../sass/main.scss */
.load img:nth-of-type(1) {
  width: 181px;
  height: 181px;
  position: absolute;
  z-index: 1;
}
/* line 422, ../sass/main.scss */
.load .waves {
  width: 181px;
  height: 380px;
  background: url(../images/waves.png);
  position: absolute;
  top: -180px;
  z-index: 2;
  -moz-animation: wave_left 2s linear infinite;
  -webkit-animation: wave_left 2s linear infinite;
  animation: wave_left 2s linear infinite;
}
/* line 431, ../sass/main.scss */
.load img:nth-of-type(2) {
  position: absolute;
  z-index: 3;
}
